section:first-of-type {
  background-image: url(https://images.unsplash.com/photo-1531824475211-72594993ce2a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);

  text-align: center;
}

article {
  background-image: url(https://plus.unsplash.com/premium_photo-1676372152274-ddc2a00747dc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2787&q=80);

  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
