* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.galerie {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.container {
  position: relative;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* - --------- Overlayer ----------- */

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 30px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.4s ease;
  background-color: black;
}

.text {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

/* - --------- Hover -----------*/

.container:hover .overlay {
  opacity: 0.6;
  margin-top: 0px;
}

/* - --------- Media Queries -------*/

@media only screen and (max-width: 768px) {
  .galerie {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 576px) {
  .galerie {
    grid-template-columns: repeat(1, 1fr);
  }
}
