section {
  background-color: linen;
}

section h1:first-of-type {
  background-color: lightblue;
}

article {
  background-image: url(https://images.unsplash.com/photo-1682686581498-5e85c7228119?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80);
}
