* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  border: 1px solid black;
  width: 50vw;
  background-color: rgb(153, 243, 255);
  border-radius: 20px;
}

button {
  width: 15vw;
  height: 5vh;
  margin: 0.5vh;
  border-radius: 8px;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(255, 170, 229);
}

h2 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
}

p {
  text-align: center;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}

form,
h2 {
  margin: 2vh 8vw;
}
